/* Colors & Backgrounds */
/* 
Name color
Hex Color - Hexadecimal code -> 000000 (black), FFFFFF(white)
RGB() - Red Green Blue (x, y, z), 255 < x, y, z > 0
RGBA() - Red Green Blue Absolute -> 0 < A < 1 -> Transparency
*/
body {
    /* background: url(https://photographylife.com/wp-content/uploads/2016/06/Mass.jpg); */
    /* background-color: #fffff */
    /* background: rgb(255, 255, 255); */
    background: linear-gradient(to bottom, rgba(84, 165, 232, 1), rgba(84, 165, 232, 0.4));

    /* font-size: 16px; */
    text-transform: capitalize;
    text-align: left;

    font-size: 1.1em;

    font-family: 'Roboto';

    padding: 10px 5px;
}

#heading, h2 {
    font-weight: 400;
    font-family: 'Roboto', san;
}

#span {
    font-style: italic;
    background-color: lightyellow;
}

p {
    text-align: justify;
    font-weight: 200;
}

#google-link {
    text-decoration: none;
    color: grey;
}

h1 {
    text-align: center;
    /* border: 2px solid white; */
}

.container-one {
    height: 300px;
    width: 70%;

    background: url('https://photographylife.com/wp-content/uploads/2016/06/Mass.jpg');
    background-color: rgb(153, 192, 224);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* GRADIENTS - Linear & Radial Gradient */
.container-two {
    height: 300px;
    width: 70%;

    /* linear-gradient(direction, setOfColors) */
    /* background: linear-gradient(to right, rgb(84, 165, 232, 1), rgba(84, 165, 232, 0.4)); */

    background: radial-gradient(circle, red, blue, green, yellow, brown);
}

/* UNITS OF MEASUREMENTS */
/* 1. Absolue Unit 2. Relative Unit */

/* cm, mm, in, px, pc */
/* em, rem, % */

/* BOX-MODELS */

.img-one {
    height: 400px;
    width: 80%;

    /* border: weightOfFrame style color */
    border: 5px solid white;
    /* style - dashed, doubled, solid, dotted */

    /* padding: x, y;
    padding: x, y, a, b; */

    /* padding: top right bottom left */
    /* padding: top&bottom left&right */

    /* padding: 5px 10px 15px 20px; */
    padding: 5px 10px;

    margin: 30px;
}


.container {
    background-color: white;
    margin: 10px;
    height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* Coloumns */
    justify-content:space-around;

    /* Rows */
    align-items: center;
}

.grid-container {
    background-color: white;
    margin: 10px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 200px;

    grid-template-rows: auto auto;
    grid-row-gap: 300px;
    /* justify-content: space-evenly;
    align-content: space-around; */
}

.grid-item {
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

.container-item {
    background: rgb(34, 171, 96);
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(84, 144, 240);

    /* transform: transformationFunction(value); */
    /* transform: rotate(30deg); */
    /* transform: skewY(-45deg); */
    /* functions - rotate, skewX, skewY,  */

    /* border-radius: 10px; */
    /* transition: valueTpchange delay style */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.submit-button:hover {
    background: rgb(24, 107, 240);
    padding: 15px 20px;
}

/* ANIMATIONS -> keyframes */
/* Writing Animations */
/* @keyframes animationName { } */


/* Applying Animations */
#heading {
    animation-name: red-to-white;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes red-to-white {
    /* from {background: red;}
    to {background: black;} */

    0% { background: red; transform: translate(0px, 0px);}
    50% { background: yellow; transform: translate(5px, 5px);}
    75% { background: green; transform: translate(10px, 10px);}
    100% { background: white; transform: translate(15px, 15px);}
}



/* MEDIA QUERIES - generate different CSS for different device-width / device-orientation */

/* 1. Mobile First View
2. Desktop First View */

/* width (Desktop) - 780px - 6K
width (Mobile) - 0px - 480 px (max-width)
width (Tablet) - 480px - 780px  */

/* Mobiles */
@media (max-width: 480px) {
    /* A;ll the mobile-related styling would be here */
    #sub-heading {
        color: white;
    }
}

@media (min-width: 780px) {
    /* All the Desktop-styling will be here */
}

@media (orientation: portrait) {
    
}